@{
    ViewData["Title"] = "Index";
}

<div class="row justify-content-center">
    <div class="col-12">
        <div class="card shadow-sm">
            <div class="card-body">
                <h1 class="display-4 text-center mb-5">People Management</h1>
                <h2 class="text-center mb-4">Project Description</h2>
                <p class="lead text-center mb-5">This is a sample CRUD application built using the Clean Architecture pattern with ASP.NET Core 6. The application allows you to manage a list of people, including adding, editing, and deleting people. You can also search for people using various filters.</p>
                <h2 class="text-center mb-4">Project Layers</h2>
                <div class="row align-items-stretch">
                    <div class="col-md-4 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title text-center">CleanArch.Application</h5>
                                <p class="card-text">This layer contains the business logic of the application that is intended to be used for executing the business processes.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title text-center">CleanArch.Core</h5>
                                <p class="card-text">This layer contains the core entities that are the key objects in the application and are used in the core parts of the application.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title text-center">CleanArch.Infrastructure</h5>
                                <p class="card-text">This layer contains the infrastructure-related classes that are used to connect to the database, read and write files, and perform other similar tasks.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title text-center">CleanArch.Web</h5>
                                <p class="card-text">This layer contains the presentation-related objects that are used to interact with the user and display data to them.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title text-center">CleanArch.Common</h5>
                                <p class="card-text">This layer contains commonclasses, such as data models, utility methods, and constants that are used throughout the project and are shared between other layers.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title text-center">CleanArch.IoC</h5>
                                <p class="card-text">This layer contains the classes related to Inversion of Control (IoC) that are used for registering and injecting dependencies into the layers.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>